<div>
<footer>

<section id="contact" class="mt-5">
    <div class="row white-links" style="display:felx;justify-content:center;">  
      <a href="/pages/about-us">About us</a>
      <a href="/pages/contact-us">Contact Us</a>
    </div>
</section>
  
<section class="bottom-footer">
  <div class="row" style="display:felx;justify-content:center;">
    © Foods Inc.
  </div>
</section>

</footer>

</div>


<script src="/javascripts/main.js"></script>
</body>
</html>
