
  <!-- Start Footer -->
  <footer class="footer-area bg-f" style="padding-top: 30px; padding-bottom: 5px;">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-3 col-md-6">
                <h3>About Us</h3>
                <p>Integer cursus scelerisque ipsum id efficitur. </p>
            </div>
            <div class="col-lg-3 col-md-6">
                <h3>Contact information</h3>
                <p class="lead">Ashish - 9664002789</p>
                <p><a href="#">Cfbakvo@gmail.com</a></p>
            </div>
            <div class="col-lg-3 col-md-6">
                <h3>Contact Address</h3>
                <p class="lead">M-12, Ana Sagar Link Road, Ajmer</p>
            </div>
            
        </div>
    </div>
    
    
    
</footer>
<!-- End Footer -->

<a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

<!-- ALL JS FILES -->

<script src="/javascripts/main.js"></script>
<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<!-- ALL PLUGINS -->
<script src="/js/jquery.superslides.min.js"></script>
<script src="/js/images-loded.min.js"></script>
<script src="/js/isotope.min.js"></script>
<script src="/js/baguetteBox.min.js"></script>
<script src="/js/form-validator.min.js"></script>
<script src="/js/contact-form-script.js"></script>
<script src="/js/custom.js"></script>

</body>
</html>